
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(36, 36, 38, 0.863),rgba(23, 22, 32, 0.91)), url(Images/5941218.jpg);
    background-size: cover;
      background-position: center;
      padding: 10px 8%;
      min-height: 100vh;
  }
  
    
  
    /* Header style */
    header {
      color: white;
      padding: 20px;
      text-align: left;
      position: relative;
  }
  
  /* Header text style */
  h1 {
      font-size: 24px;
      font-family: Arial;
      font-weight: bold;
  }
  
  nav{
    text-align: right;
    position: absolute;
    color: aliceblue;
    text-decoration: none;
    padding: 0;
    display: flex;
  }
  
    form{
      width: 18%;
      padding: 30px;
      margin-top: 150px;
    }
  
    .mb-3{
      margin-bottom: 90%;
  }
  
  
  
   
    
    
  
    .btn-primary{
     width: 100%;
     margin-top: 20px;
     background-color: #2ba84a;
     
     border: none;
  
    }